.hero {
  height: 90vh;
}

html {
  scroll-behavior: smooth;
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 169px;
}

.triangle .shape-fill {
  fill: #ffffff;
}

.section-ciudadanos {
  height: 700px;
}

.section-docs {
  height: 850px;
}

.footers {
  height: 300px;
}

.icon {
  display: inline-block;
  font-size: 40px;
  line-height: 48px;
  color: white;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: center;
}

.map {
  height: 90vh;
}

.EmbedMap {
  height: 80%;
  width: 95%;
}
