.hero {
  height: 92vh;
  background: url("/assets/tinified/tampico1.png");
  background-size: cover;
}

.hero-container {
  backdrop-filter: brightness(40%);
}

html {
  scroll-behavior: smooth;
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 169px;
}

.triangle .shape-fill {
  fill: #ffffff;
}

.section-ciudadanos {
  height: 700px;
}

.section-docs {
  height: 850px;
}

.footers {
  height: 300px;
}

.icon {
  display: inline-block;
  font-size: 32px;

  color: white;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: center;
}

.map {
  height: 90vh;
}

.EmbedMap {
  height: 80%;
  width: 95%;
}

.map-container {
  height: 85%;
}
